name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack for yarn
        run: corepack enable

      - name: Setup Node.js and yarn cache
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn

      - name: Install Dependencies
        run: yarn install --immutable --immutable-cache

      - name: Run tests
        run: yarn prettier --check .

      - name: Run linter
        run: yarn eslint .

      - name: Run tests
        run: yarn test

      - name: Build
        run: yarn build
